.page {
    color: white;
    padding: 0 1rem;
    background: #ffffff;
    width:calc(100% - 230px);
    &__box {
      min-height: 70px;
      background: #0e3d25;
      margin: 0 -1rem;
      font-size: 18px;
      font-weight: 300px;
      font-family: 'Courier New', Courier, monospace;
      line-height: 20px;
    }
    &__content {
      min-height: calc(100vh - 78px);
      border-radius: 10px;
      margin-top: -1rem;
      //margin-bottom: 1rem;
      background: white;
      color: rgb(56, 55, 55);
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  