<div id="dashboard" class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div
      class="header accent"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center"
    >
      <!-- APP TITLE -->
      <div
        class="logo mb-24 mb-md-0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <span class="logo-text">
          <h3>
            Hi {{ currentUser.user_first_name }}! You are logged in as
            {{ displayRole }}.
          </h3>
        </span>
      </div>
      <!-- / APP TITLE -->
      <div
        *ngIf="show_md_progress"
        style="
          position: fixed;
          bottom: 0px;
          right: 0px;
          z-index: 10;
          background: lightgray;
        "
      >
        <div class="md-progress">
          <span>Fetching master data in background...</span>
          <mat-icon (click)="hideProgressBar()">clear</mat-icon>
        </div>
        <mat-progress-bar
          mode="indeterminate"
          color="primary"
          height="6px"
        ></mat-progress-bar>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- Search form. -->
  <div class="content-card">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="isSearchOpen = true"
        (closed)="isSearchOpen = false"
        [expanded]="isSearchOpen"
        style="width: 100%"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Filters </mat-panel-title>
        </mat-expansion-panel-header>
        <form fxLayout="column" [formGroup]="searchPanel">
          <div fxFlex="1 0 auto" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="49">
                <mat-label>District</mat-label>
                <input
                  type="text"
                  placeholder="Select District"
                  aria-label="District"
                  matInput
                  formControlName="district"
                  [matAutocomplete]="district"
                  (blur)="onDistrictBlur()"
                />
                <mat-autocomplete
                  #district="matAutocomplete"
                  [displayWith]="displayDistrictFn"
                >
                  <mat-option
                    *ngFor="let option of filteredDistricts | async"
                    [value]="option"
                  >
                    {{ option.district_name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div fxFlex="2"></div>
              <mat-form-field appearance="outline" fxFlex="49">
                <mat-label>Block</mat-label>
                <input
                  type="text"
                  placeholder="Select Block"
                  aria-label="Block"
                  matInput
                  formControlName="block"
                  [matAutocomplete]="block"
                />
                <mat-autocomplete
                  #block="matAutocomplete"
                  [displayWith]="displayBlockFn"
                >
                  <mat-option
                    *ngFor="let option of filteredBlocks | async"
                    [value]="option"
                  >
                    {{ option.block_name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button
              [disabled]="isCallInProgress"
              mat-raised-button
              type="button"
              color="primary"
              (click)="clearSearchFields()"
            >
              Clear
            </button>
            <div fxFlex="2"></div>
            <button
              [disabled]="isCallInProgress"
              mat-raised-button
              type="button"
              color="primary"
              (click)="getFilteredData()"
            >
              Filter
            </button>
            <mat-spinner
              *ngIf="isCallInProgress"
              class="progerss-spinner"
              [diameter]="25"
            ></mat-spinner>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
    <!--div class="content-card">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false" [expanded]="panelOpenState">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Filter View
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form fxLayout="column" [formGroup]="searchPanel">
                    <div fxFlex="1 0 auto" fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <div fxFlex="2"></div>
                            <mat-form-field appearance="outline" fxFlex="30">
                                <mat-label>District</mat-label>
                                <input type="text"
                                    placeholder="Select District"
                                    aria-label="District"
                                    matInput
                                    formControlName="district"
                                    [matAutocomplete]="district">
                                <mat-autocomplete #district="matAutocomplete" [displayWith]="displayDistrictFn">
                                <mat-option *ngFor="let option of filteredDistricts | async" [value]="option">
                                        {{option.district_name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div fxFlex="2"></div>
                            <mat-form-field appearance="outline" fxFlex="30">
                                <mat-label>Block</mat-label>
                                <input type="text"
                                    placeholder="Select Block"
                                    aria-label="Block"
                                    matInput
                                    formControlName="block"
                                    [matAutocomplete]="block">
                                <mat-autocomplete #block="matAutocomplete" [displayWith]="displayBlockFn">
                                <mat-option *ngFor="let option of filteredBlocks | async" [value]="option">
                                        {{option.block_name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                </mat-expansion-panel>
            </mat-accordion>
        </div-->

    <!--mat-divider></mat-divider-->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <mat-tab-group>
        <mat-tab label="Users" class="info-tab">
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly start"
            fxFlex="1 0 auto"
            fxLayout.xs="column"
          >
            <div fxFlex="1"></div>
            <div fxFlex="48" fxLayout="column" class="w-100">
              <table
                mat-table
                class="data-table"
                [dataSource]="roleWise"
                class="mat-elevation-z2"
              >
                <!-- Name Column -->
                <ng-container matColumnDef="role_name">
                  <th mat-header-cell *matHeaderCellDef>Role</th>
                  <td mat-cell *matCellDef="let data">
                    {{ data["role_name"] }}
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="count">
                  <th mat-header-cell *matHeaderCellDef>Total</th>
                  <td mat-cell *matCellDef="let data">{{ data["count"] }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="roleColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: roleColumns"></tr>
              </table>
              <mat-paginator
                #rolePaginator
                *ngIf="
                  roleWise.filteredData && roleWise.filteredData.length > 10
                "
                [pageSizeOptions]="[10, 25, 50]"
              ></mat-paginator>
            </div>
            <div fxFlex="2"></div>
            <div fxFlex="48" fxLayout="column" class="w-100">
              <table
                mat-table
                class="data-table"
                [dataSource]="phrRoleWise"
                class="mat-elevation-z2"
              >
                <!-- Name Column -->
                <ng-container matColumnDef="phr_role">
                  <th mat-header-cell *matHeaderCellDef>PHR Role</th>
                  <td mat-cell *matCellDef="let data">
                    {{ data["phr_role"] }}
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="count">
                  <th mat-header-cell *matHeaderCellDef>Total</th>
                  <td mat-cell *matCellDef="let data">{{ data["count"] }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="phrRoleColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: phrRoleColumns"></tr>
              </table>
              <mat-paginator
                #phrRolePaginator
                *ngIf="
                  phrRoleWise.filteredData &&
                  phrRoleWise.filteredData.length > 10
                "
                [pageSizeOptions]="[10, 25, 50]"
              ></mat-paginator>
            </div>
            <div fxFlex="1"></div>
          </div>
        </mat-tab>
        <mat-tab label="Facility">
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly start"
            fxFlex="1 0 auto"
            fxLayout.xs="column"
          >
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="48" class="w-100">
              <table
                mat-table
                class="data-table"
                [dataSource]="facilityData"
                class="mat-elevation-z2"
              >
                <!-- Name Column -->
                <ng-container matColumnDef="facility_type_name">
                  <th mat-header-cell *matHeaderCellDef>Facility Type</th>
                  <td mat-cell *matCellDef="let data">
                    {{ data["facility_type_name"] }}
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="count">
                  <th mat-header-cell *matHeaderCellDef>Total</th>
                  <td mat-cell *matCellDef="let data">{{ data["count"] }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="facilityColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: facilityColumns"></tr>
              </table>
              <mat-paginator
                #facilityPaginator
                *ngIf="
                  facilityData.filteredData &&
                  facilityData.filteredData.length > 10
                "
                [pageSizeOptions]="[10, 25, 50]"
              >
              </mat-paginator>
            </div>
            <div fxFlex="1"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="40">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>HSC Mapped to Parent Facility</h3></span>
                <span
                  ><h2>{{ HSCMappedCount }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="1"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="40">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>HSC Not Mapped to Parent Facility</h3></span>
                <span
                  ><h2>{{ HSCUnMappedCount }}</h2></span
                >
              </div>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Street" height="100%">
          <div
            fxLayout="row"
            fxLayoutAlign="space-around center"
            fxLayout.xs="column"
          >
            <div fxFlex="1"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="48">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Streets Mapped to HSC</h3></span>
                <span
                  ><h2>{{ StreetsMappedToHSC }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="2"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="48">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Streets Not Mapped To HSC</h3></span>
                <span
                  ><h2>{{ StreetsUnMappedToHSC }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="1"></div>
          </div>
          <div></div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly start"
            fxFlex="1 0 auto"
            fxLayout.xs="column"
          >
            <div fxFlex="1"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="48">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Streets Mapped to Revenue Village</h3></span>
                <span
                  ><h2>{{ StreetMappedToReV }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="2"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="48">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Streets Not Mapped To Revenue Village</h3></span>
                <span
                  ><h2>{{ StreetUnMappedToReV }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="1"></div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly start"
            fxFlex="1 0 auto"
            fxLayout.xs="column"
          >
            <div fxFlex="1"></div>
            <mat-accordion>
              <mat-expansion-panel
                (opened)="isVillageCountPanelOpen = true"
                (closed)="isVillageCountPanelOpen = false"
                [expanded]="isVillageCountPanelOpen"
                style="width: 100%"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title> Village Details </mat-panel-title>
                </mat-expansion-panel-header>
                <table
                  mat-table
                  class="data-table"
                  [dataSource]="villageData"
                  fxFlex="48"
                >
                  <!-- Name Column -->
                  <ng-container matColumnDef="village_type">
                    <th mat-header-cell *matHeaderCellDef>Village Type</th>
                    <td mat-cell *matCellDef="let data">
                      {{ data["village_type"] }}
                    </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="count">
                    <th mat-header-cell *matHeaderCellDef>Total</th>
                    <td mat-cell *matCellDef="let data">{{ data["count"] }}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="villageColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: villageColumns"
                  ></tr>
                </table>
              </mat-expansion-panel>
            </mat-accordion>

            <div fxFlex="2"></div>
            <mat-accordion>
              <mat-expansion-panel
                (opened)="isVillageStreetPanelOpen = true"
                (closed)="isVillageStreetPanelOpen = false"
                [expanded]="isVillageStreetPanelOpen"
                style="width: 100%"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title> Street Details </mat-panel-title>
                </mat-expansion-panel-header>
                <table
                  mat-table
                  class="data-table"
                  [dataSource]="villageStrtData"
                  fxFlex="48"
                >
                  <!-- Name Column -->
                  <ng-container matColumnDef="village_type">
                    <th mat-header-cell *matHeaderCellDef>Village Type</th>
                    <td mat-cell *matCellDef="let data">
                      {{ data["village_type"] }}
                    </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="count">
                    <th mat-header-cell *matHeaderCellDef>Street Count</th>
                    <td mat-cell *matCellDef="let data">{{ data["count"] }}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="villageStrtColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: villageStrtColumns"
                  ></tr>
                </table>
              </mat-expansion-panel>
            </mat-accordion>

            <div fxFlex="1"></div>
          </div>
        </mat-tab>
        <mat-tab label="Shop">
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly start"
            fxFlex="1 0 auto"
            fxLayout.xs="column"
          >
            <div fxFlex="1"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="48">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Mapped to Street</h3></span>
                <span
                  ><h2>{{ MappedShopsCount }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="2"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="48">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Shops Not Mapped to Street</h3></span>
                <span
                  ><h2>{{ UnMappedShopsCount }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="1"></div>
          </div>
        </mat-tab>
        <mat-tab label="Population" *ngIf="disablePopulation">
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly start"
            fxFlex="1 0 auto"
            fxLayout.xs="column"
          >
            <div fxFlex="1"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="98">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Total Population</h3></span>
                <span
                  ><h2>{{ TotalPopulation }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="1"></div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly start"
            fxFlex="1 0 auto"
          >
            <div fxFlex="1"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="48">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Allocated Population</h3></span>
                <span
                  ><h2>{{ AllocatedPopulation }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="2"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="48">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Unallocated Population</h3></span>
                <span
                  ><h2>{{ UnAllocatedPopulation }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="1"></div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly start"
            fxFlex="1 0 auto"
            fxLayout.xs="column"
          >
            <div fxFlex="1"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="48">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Population Mapped to Street</h3></span>
                <span
                  ><h2>{{ PopulationMappedToStreet }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="2"></div>
            <mat-card class="info-card" class="mat-elevation-z2" fxFlex="48">
              <div fxLayout="column" fxLayoutAlign="center center">
                <span><h3>Population Not Mapped to Street</h3></span>
                <span
                  ><h2>{{ PopulationUnMappedToStreet }}</h2></span
                >
              </div>
            </mat-card>
            <div fxFlex="1"></div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-evenly start"
            fxFlex="1 0 auto"
            fxLayout.xs="column"
          >
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="30" class="w-100">
              <table
                mat-table
                class="data-table"
                [dataSource]="blockPopData"
                class="mat-elevation-z2"
              >
                <!-- Name Column -->
                <ng-container matColumnDef="block_name">
                  <th mat-header-cell *matHeaderCellDef>Block Name</th>
                  <td mat-cell *matCellDef="let data">
                    {{ data["block_name"] }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="resident_status">
                  <th mat-header-cell *matHeaderCellDef>Resident Status</th>
                  <td mat-cell *matCellDef="let data">
                    {{ data["resident_status"] }}
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="count">
                  <th mat-header-cell *matHeaderCellDef>Total</th>
                  <td mat-cell *matCellDef="let data">{{ data["count"] }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="blockPopColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: blockPopColumns"></tr>
              </table>
              <mat-paginator
                #blockPaginator
                *ngIf="
                  blockPopData.filteredData &&
                  blockPopData.filteredData.length > 10
                "
                [pageSizeOptions]="[10, 25, 50]"
              >
              </mat-paginator>
            </div>

            <div fxFlex="2"></div>
            <div fxLayout="column" fxFlex="30" class="w-100">
              <table
                mat-table
                class="data-table"
                [dataSource]="phcPopData"
                class="mat-elevation-z2"
              >
                <!-- Name Column -->
                <ng-container matColumnDef="phc_name">
                  <th mat-header-cell *matHeaderCellDef>PHC Name</th>
                  <td mat-cell *matCellDef="let data">
                    {{ data["phc_name"] }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="resident_status">
                  <th mat-header-cell *matHeaderCellDef>Resident Status</th>
                  <td mat-cell *matCellDef="let data">
                    {{ data["resident_status"] }}
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="count">
                  <th mat-header-cell *matHeaderCellDef>Total</th>
                  <td mat-cell *matCellDef="let data">{{ data["count"] }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="phcPopColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: phcPopColumns"></tr>
              </table>
              <mat-paginator
                #phcPaginator
                *ngIf="
                  phcPopData.filteredData && phcPopData.filteredData.length > 10
                "
                [pageSizeOptions]="[10, 25, 50]"
              >
              </mat-paginator>
            </div>

            <div fxFlex="2"></div>
            <div fxLayout="column" fxFlex="30" class="w-100">
              <table
                mat-table
                class="data-table"
                [dataSource]="hscPopData"
                class="mat-elevation-z2"
                fxFlex="30"
              >
                <!-- Name Column -->
                <ng-container matColumnDef="hsc_name">
                  <th mat-header-cell *matHeaderCellDef>HSC Name</th>
                  <td mat-cell *matCellDef="let data">
                    {{ data["hsc_name"] }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="resident_status">
                  <th mat-header-cell *matHeaderCellDef>Resident Status</th>
                  <td mat-cell *matCellDef="let data">
                    {{ data["resident_status"] }}
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="count">
                  <th mat-header-cell *matHeaderCellDef>Total</th>
                  <td mat-cell *matCellDef="let data">{{ data["count"] }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="hscPopColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: hscPopColumns"></tr>
              </table>
              <mat-paginator
                #hscPaginator
                *ngIf="
                  hscPopData.filteredData && hscPopData.filteredData.length > 10
                "
                [pageSizeOptions]="[10, 25, 50]"
              >
              </mat-paginator>
            </div>

            <div fxFlex="1"></div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
