.content_header {
    padding: 10px;

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            //margin-top: 5rem;
            width: 38px;
            padding-top: -1rem;
        }

        .logo-text {
            //margin: 12px;
            padding: 3px;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.4px;
            line-height: normal;
            vertical-align: middle;
        }
    }
}

//css for mat table
table {
    width: 100% !important;
    //flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .mat-header-cell {
        min-height: 64px;
        font-size: 14px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.87);
    }

    tbody tr {
        position: relative;
        //cursor: pointer;
        height: 50px;
    }

    tbody tr td p {
        margin: 0px !important;
    }

    .mat-cell {
        min-width: 0;
        //display: flex;
        align-items: center;
        vertical-align: middle;
    }

    .mat-column-id {
        flex: 0 1 84px;
    }

    .mat-column-active {
        flex: 0 1 80px;
    }

    .active-icon {
        border-radius: 50%;
    }

    P {
        margin: 12px 0px;
    }
}
.mat-icon-button {
    width: auto;
    height: auto;
}